.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  background-color: #1b1b1b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  align-items: center;
  align-content: center;
  align-self: center;
  max-width: fit-content;
}
.tipText {
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  text-overflow: ellipsis;
  text-wrap: wrap;
}
.tipContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  padding: 10px;
  height: 300px;
  width: 600px;
  border-radius: 25px;
  border: #323232e9 8px solid;
  margin-top: 16px;
  margin-bottom: 24px;
}
.container {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}
.uploadIcon {
  height: 200px;
  width: 200px;
}
.fileDetails {
}
.uploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.title3 {
  /* text-align: center; */
  letter-spacing: 0.25px;
  font-size: 32px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 0;
}
.title4 {
  /* text-align: center; */
  letter-spacing: 0.25px;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}
.title5 {
  /* text-align: center; */
  letter-spacing: 0.25px;
  font-size: 16px;
  /* font-weight: 200; */
  text-transform: capitalize;
  margin-bottom: 0;
}
.lighText {
  letter-spacing: 0.25px;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
