.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  background-color: #1b1b1b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  align-items: center;
  align-content: center;
  align-self: center;
  max-width: fit-content;
}
.tipText {
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  text-overflow: ellipsis;
  text-wrap: wrap;
}
.tipContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  padding: 10px;
  height: 300px;
  width: 600px;
  border-radius: 25px;
  border: #323232e9 8px solid;
  margin-top: 16px;
  margin-bottom: 24px;
}
.container {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}
.uploadIcon {
  height: 200px;
  width: 200px;
}
.uploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.title3 {
  /* text-align: center; */
  letter-spacing: 0.25px;
  font-size: 32px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 0;
}
.title4 {
  /* text-align: center; */
  letter-spacing: 0.25px;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}
.title5 {
  /* text-align: center; */
  letter-spacing: 0.25px;
  font-size: 16px;
  /* font-weight: 200; */
  text-transform: capitalize;
  margin-bottom: 0;
}
.lighText {
  letter-spacing: 0.25px;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.usercard {
  background-color: #c1ffdd;
  border-radius: 38px;
  height: 366px;
  left: 0;
  position: fixed;
  top: 0;
  width: 550px;
}

.top {
  align-items: flex-start;
  display: inline-flex;
  gap: 304px;
  position: relative;
}

.top .ellipse {
  background-color: #ff7af9;
  border-radius: 58.5px;
  height: 117px;
  position: relative;
  width: 117px;
}

.top .icon-more-horiz {
  height: 49.53px;
  position: relative;
  width: 49.53px;
}

.content {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.content .text-wrapper {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.68px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 470px;
}

.content .div {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
  line-height: normal;
  position: relative;
  width: 279.69px;
}

.snack {
  align-items: center;
  border-radius: 50px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 4px 18px;
  position: relative;
}

.snack .text-wrapper {
  font-family: "Inter-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: normal;
  margin-top: -2px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.snack.hover {
  background-color: #1c1c1c;
}

.snack.default {
  border: 2px solid;
  border-color: #000000;
}

.snack.hover .text-wrapper {
  color: #ffffff;
}

.snack.default .text-wrapper {
  color: #000000;
}

/* overall card design parent */
.frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 337px;
  position: relative;
}

.frame .rectangle {
  background-color: #c1ffdd;
  border-radius: 38px;
  height: 366px;
  margin-bottom: -29px;
  position: relative;
  width: 550px;
}

.frame .div {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 41px;
  left: 39px;
  position: absolute;
  top: 38px;
}

.frame .top {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 304px;
  position: relative;
}

.frame .ellipse {
  height: 117px;
  object-fit: cover;
  position: relative;
  width: 117px;
}

.frame .icon-more-horiz {
  height: 49.53px;
  position: relative;
  width: 49.53px;
}

.frame .content {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.frame .text-wrapper {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.68px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 470px;
}

.frame .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
  line-height: normal;
  position: relative;
  width: 279.69px;
}

.frame .skill-set {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  gap: 6px;
  overflow: hidden;
  position: relative;
  width: 480px;
}

.frame .snack-instance {
  flex: 0 0 auto !important;
  justify-content: unset !important;
}

